body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif;
  line-height: 1.5em;
  font-size: 0.9em;
  color: #222;
  max-width: 40rem;
  padding: 2rem;
  margin: auto;
  background: #fafafa; 
}

header {
  display: block;
  width: 100%;
  float: left;
}

img {
  max-width: 100%; 
}

a {
  color: #039be5;
  /* color:#FF662E; */
  text-decoration: none;
}

h1, h2, strong {
  color: #111; 
}

h1 {
  font-size: 1.6em;
}

h2, h3 {
  font-size: 1.3em; 
  margin-top: 1.3em;
  margin-bottom: 0.2em; 
}

h3 {
  font-size: 1.1em; 
  font-style: italic; 
}

p {
  margin-top: 0.5em;
  margin-bottom: 1em;
}

ul {
  list-style-type: bullet;
  padding-top: 0px;
  padding-right: 20px;
  padding-bottom: 0px;
  padding-left: 20px;
}

ol {
  list-style-type: bullet;
  padding-top: 0px;
  padding-right: 20px;
  padding-bottom: 0px;
  padding-left: 20px;
}

li {
  margin-top: 0.5em;
  margin-bottom: 0.66em;
}

hr {
  border: 0px;
  border-top: 1px solid #eee; 
}

blockquote {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: -13px;
  padding-left: 10px;
  border-left: 3px solid #333333;
}

.muted {
  color: #aaa;
  text-decoration: none; 
}

.small {
  font-size: .8em; 
}
